* {
    margin: 0;
    padding: 0;
}

.game-wrap {
    display: flex;
}

.player-select,
.com-select {
    width: 100px;
    height: 100px;
    background-image: url("./가바보.jpg");
    border: 1px solid;
    background-size: 315px;
    background-position-x: 100px;
    background-repeat: no-repeat;
}

.scissors{
    background-position-x: 15px;
    
}
.rock {
    background-position-x: -103px;
    background-position-y: -10px;
    
}
.paper {
    background-position-x: -223px;
    background-position-y: -4px;
}