* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.box-content {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: violet;
    opacity: 0;
    transition: 1s;
}

.big-box {
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
}

.box-content.is-active {
    left: 0;
    opacity: 1;
}